<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NF6P70ZM4F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NF6P70ZM4F');
</script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Choose Resume Template</title>

  <link rel="stylesheet" href="template.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

  <header class="template-header">
    <a href="/resumeBuilder/resume-builder.html" class="back-btn">
      <i class="fa-solid fa-arrow-left"></i> Back
    </a>
  </header>

  <main>
    <section class="plan-section">
     
      <div class="template-grid" id="freeTemplates"></div>
    </section>

    <section class="plan-section">
      <div class="template-grid" id="basicTemplates"></div>
    </section>

    <section class="plan-section">
      <div class="template-grid" id="proTemplates"></div>
    </section>
  </main>

  <script src="template.js"></script>
</body>
</html>
